.drink-list-section {
  background: url('~/public/wood_texture.jpg') no-repeat center center fixed;
  padding: 70px 0 50px;
  h2 {
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    margin: 40px 0;
  }
}

.drink {
  font-size: 3em;
  text-transform: uppercase;
  border: 3px solid white;
  text-align: center;
  margin: 30px;
  padding: 15px 0 5px;
}
