$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import 'custom-bootstrap';
@import 'navbar';

body{
  background: url("https://hips.hearstapps.com/esq.h-cdn.co/assets/17/08/1487694308-moscow-mule.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

.nav-box{
  background-color: rgba(0, 0, 0, 1);
  border: 0;
}

.content{
  overflow: scroll;
}

.open-create-drink{
  display: none;
  background-color: rgba(0, 0, 0, 1);
  border: 0;
  color: #fff;
}

.get-drank{
  display: none;
  background-color: rgba(0, 0, 0, 1);
  border: 0;
  color: #fff;
}
