{{#each data}}
<div class="row">
  <div class="col-md-4">
    {{this.name}}
    <button type="button" id="editDrank" class="btn btn-default open-update-drink" data-dismiss="modal">Spruce Things Up!</button>
  </div>
</div>
{{/each}}
